<h1>SignUP</h1>

<%= form_for(@user) do |f| %>
  <p>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</p>
	 <p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.text_field :password %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
